body {
    font-family:"myfont" ;
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url('albdnewspaper.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #333;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
/* Home page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   
    background-color: #f4f4f4;
  }
  
@font-face {
    font-family: myfont;
    src: url(TiroBangla-Regular.ttf);
}
  

/* General styles */
body {
    margin: 0;
    font-family: 'myfont' ;
    background-color: #fdf8f3;
    color: #000;
}

/* Header styles */
header {
    width: 100%;
    height: 100px;
    display: flex;
    text-justify: auto;
    text-align: ;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    padding: 10px 10px;
    top: 0;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

header .search-box form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

header .search-box input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 10px;
    text-align: center;
    text-justify: auto;
    transition: 0.3s ease;
}

header .search-box input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

header .search-box button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #007BFF;
    border: none;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
}

header .search-box button:hover {
    background: #0056b3;
}

/* Social Media Icons */
header ul li a {
    margin: 0 5px;
    color: #007BFF;
    font-size: 18px;
    text-decoration: none;
}

header ul li a:hover {
    color: #0056b3;
}

/* Responsive Search Box Styles */
@media (max-width: 768px) {
    header .search-box form {
        max-width: 100%;
        margin: 10px 0;
    }

    header ul li {
        text-align: center;
        margin: 10px 0;
    }

    header ul li form {
        margin-top: 10px;
    }

    header .search-box input {
        width: 90%;
    }
}


#chk1 {
    display: none;
}

header .logo img{
    flex: ;
    color: #fff;
    height: 120px;
    width: 120px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

header .search-box {
    flex: 1;
    position: relative;
}

header ul li .search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background: green;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover {
    border-bottom: 2px solid rgb(19, 212, 19);
}

header .menu {
    font-size: 1.5em;
    display: none;
    cursor: pointer;
}

header .menu label i {
    font-size: 1em;
    color: #fff; 
    cursor: pointer;
    transition: color 0.3s ease;
}


header .menu label i:hover {
    color: #0078D4;
}

/* Responsive styles */
@media (max-width: 1000px) {
    header ul {
        position: fixed;
        top: 100px;
        font-size: 20px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 70%;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        transition: right 0.3s ease-in-out;
    }

    header .menu {
        display: block;
    }

    header .menu label {
        cursor: pointer;
    }
    

    #chk1:checked ~ ul {
        right: 0;
    }
    
    header .menu label i:hover {
        color: #0078D4; 
    }

    .search-box {
        padding-bottom: 50px;
    }
}

/* General Styles */
.devloperbox {
    
    margin-top: 60px ;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

/* Container Styles */
.containerone {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
    
    border: 2px solid #f3d6b1; 
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

/* Heading Styles */
.headingone {
    position: absolute;
    top: -20px;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    background-color: #fff; 
    padding: 0 10px;
    border: 1px #f3a671;
    border-style: solid;
    text-align: center;
}

/* Left and Right Sections */
.mahir, .Mikdad {
    width: 45%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center; 
    margin-top: 40px;
}
.profile img{
    height: 100px;
    
    border:  3px solid #000;
    border-radius: 50%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

/* Divider Line */
.containerone::before {
    content: "";
    width: 2px;
    height: 80%; 
    background-color: #f3d6b1; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

/* Developer Name */
.name {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}
.mail {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* Contact Links */
.contactlink {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contactlink i {
    font-size: 24px;
    color: #fff; 
    transition: color 0.3s, transform 0.3s; 
}

.contactlink i:hover {
    color: #4b09e2; 
    transform: scale(1.2); 
}

@media (max-width: 768px) {
    .containerone {
        padding: 10px;
        flex-direction: column; 

    }

    .containerone::before {
        display: none;
    }

    .mahir, .Mikdad {
        margin-top: ;
        width: 100%;
        text-align: center;
    }
}

/* comentboxstyling */
.commentbox{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.container{
    width: 80%;
    background: white;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #4b09e2;
}
.content .left-side .details{
    margin: 14px;
    text-align: center;
    
}
.content .left-side .details i{
    font-size: 30px;
    color: #4b09e2;
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: bolder;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
    
}
.container .content .right-sight{
    width: 75%;
    margin-left: 90px;    
}
.content .right-sight .topic-text{
    font-size: 23px;
    font-weight:600;
    color: #4b09e2;
}
.right-sight .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right-sight .input-box input,
.right-sight .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f0f7;
    border-radius: 6px;
    padding: 0 15px;
}
.right-sight .message-box{
    min-height: 110px;
    margin-top: 12px;
}
.right-sight .button{
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 1px;
}
.right-sight .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #4b09e2;
    cursor: pointer;
    transition: all 0.3s ease;
}
.right-sight .button input[type="button"]:hover{
    background: #666;
}
@media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding-bottom: 20px;
    position: relative;
}
